@media (max-width: 992px) {
  #courses-first {
    .courses-first-container {
      .order1 {
        order: 1;
      }
      .order2 {
        order: 2;
      }
      img {
        height: 300px;
      }
      .courses-first-content {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  #changing-tabs{
    .switch-tabs {
      .tabs{
        .tabs-none{
          display: none;
        }
        #syllabus{
          .syllabus-info{
            margin-top: 0px;
            text-align: center;
            p{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
